DATABASE_URL=postgresql://postgres:postgres@localhost:5432/penguin
POSTGRES_ADMIN_URL=postgresql://postgres:postgres@localhost:5432/postgres
BACKEND_PORT=6001
FRONTEND_PORT=6002
BASE_PATH=/
VITE_API_BASE_URL=http://localhost:6001
